body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    padding: 10px;
}
nav{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
nav h2{
    color: #3232de;
}
nav h2 span {
    color: hsl(0, 93%, 55%);

}
#colorBox {
    width: 250px;
    height: 250px;
    margin: 20px auto;
    border: 1px solid #333;
    border-radius: 20px;
    background-color: grey;
    transition: background-color 0.5s ease-in-out; 
}

#colorOptions {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;    
    margin-bottom: 20px;
}
h1{
    text-decoration: underline;
    color: #333;
}
button {
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    height: 50px;
    width: 50px;
}

button:hover {
    opacity: 0.8;
}

#gameStatus {
    font-weight: bold;
    margin: 10px 0;
    font-size: 1.5rem;
}
#newGameButton{
    background-color: hsl(200, 100%, 50%);
    border-radius: 10px;
    color: #fff;
    width: 250px;
    cursor: pointer;
}
#newGameButton:hover {
    background-color: hsl(200, 100%, 20%);
}
#text2{
    font-size: 2rem;
    font-weight: 600;
    font-weight: 600;
    color: hsl(200, 100%, 20%);
}

.correct {
    animation: bounce 0.5s ease;
}

.wrong {
    animation: shake 0.3s ease;
}

@keyframes bounce {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    75% { transform: translateX(5px); }
}
@media (min-width:768px) {
    h1 {
        display: block;
        font-size: 5em;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        unicode-bidi: isolate;
    }
    .text1{
        font-size: 2rem;
        color: blue;
        font-weight: 600;
    }
    #colorBox {
        width: 60%;
        height: 40vh;       
    }
    #colorOptions {
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    
#colorOptions button {
    height: 100px;
    width: 85px;
    border-radius: 5px;
}
#score{
    font-size: 2rem;
    color: blue;
}
#text2{
    font-size: 2rem;
    font-weight: 600;
    font-weight: 600;
    color: #3232de;
}

#newGameButton {
    font-size: 2rem;
    font-weight: 600;
}
}